#tca {
  text-align: center;
}

@media (max-width: 576px) {
  #tca {
    text-align: left;
  }
}

.twos-calc-nums {
  padding-left: 110px;
}

@media (max-width: 576px) {
  .twos-calc-nums {
    padding-left: 0px;
    padding-right: 5px;
  }
}

.twos-calc {
  text-align: center;
}

@media (max-width: 576px) {
  .twos-calc {
    text-align: left;
  }
}

.portfolio-block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-image: url("../../assets/img/avatars/avatar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border-radius: 50px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.portfolio-block {
  padding-bottom: 60px;
  padding-top: 25px;
}

.gradient {
  background: linear-gradient(120deg,#006c1e,rgba(140,140,140,0.95));
  color: #fff;
}

#navbarNav {
  font-size: 25px;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #006c1e;
  border-color: #006c1e;
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: #000000;
  border-color: #006c1e;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid;
  padding: .375rem 1rem;
  font-size: 30px;
  line-height: 1.5;
  border-radius: 2em;
  transition: color .5s ease-in-out,background-color .5s ease-in-out,border-color .5s ease-in-out,box-shadow .5s ease-in-out;
}

.portfolio-navbar .logo {
  font-size: 20px;
}

@media (min-width: 576px) {
  .portfolio-navbar .logo {
    font-size: 25px;
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 20px;
  line-height: inherit;
  white-space: nowrap;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #006c1e;
  border-color: #006c1e;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.btn-outline-primary {
  color: #006c1e;
  border-color: #006c1e;
}

a:hover {
  color: rgb(255,255,255);
  text-decoration: underline;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,108,30,0.4);
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,108,30,0.4);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(0,108,30,0.4);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#proj-drop {
  padding-right: 0px;
  margin-right: 0px;
}

