<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Page - David Jake Morfe's Portfolio</title>
    <meta name="description" content="Welcome to my Portfolio Website! Learn about me and take a look at all my projects!">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}">
<!-- Custom Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="icon" href="{{ url_for('static',filename='assets/img/favicon.ico') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item" role="presentation"><script>
    function goProjects() {
        window.location.href="{{ url_for('projects') }}";
    }
    function dropDown() {
        var dpmu = document.getElementById("dpmu");
        if(dpmu.style.display == "block") {
            dpmu.style.display = "none";
        } else {
            dpmu.style.display = "block";
        }
    }
</script>
<div id="proj-drop" class="btn-group">
    <button id="prjb" class="btn-projects" aria-haspopup="true" type="button" onclick="goProjects()">Projects</button>
    <button id="pdpd" class="btn-projects" aria-expanded="false" type="button" onclick="dropDown()"><i class="fa fa-caret-down"></i></button>
    <div id="dpmu" class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">Gomaps</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">GeoLiberator</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='twos_calc') }}">Twos Calculator</a>
    </div>
</div>
<script>
    function projectsMediaQuery(x) {
        if (x.matches) { // Mobile
            var btn = document.getElementById("pdpd");
            btn.disabled = false;
            /*var dpmu = document.getElementById("dpmu");
            dpmu.style.display = "none";
            btn.addEventListener("click", function(){
                if(dpmu.style.display == "none") {
                    dpmu.style.display = "block";
                } else {
                    dpmu.style.display = "none";
                }
            });*/
        } else { // Desktop
            var btn = document.getElementById("pdpd");
            var dpmu = document.getElementById("dpmu");
            btn.disabled =  true;
            if(dpmu.style.display == "block") {
                dpmu.style.display = "none";
            }
            dpmu.style.display = "";
        }
    }

    var x = window.matchMedia("(max-width: 576px)")
    projectsMediaQuery(x) // Call listener function at run time
    x.addListener(projectsMediaQuery) // Attach listener function on state changes
</script></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>GeoLiberator</h2>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Description</h3>
                        <p>This is an address parser for Python that can be installed via 'pip'.</p>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags"><span class="meta-heading">Tags</span><a href="https://github.com/jakeee51/GeoLiberator" target="_blank">Source Code</a><span class="meta-heading">Date Completed</span><span>07-10-2019</span></div>
                    </div>
                </div><script>
    $(document).ready(function(){
        $(".geolib").click(function(){
            $.post("{{ url_for('GL') }}",
            {
                addr: document.getElementById("addr").value,
                parse: document.getElementById("parse").value,
            },
            function(data, status){
                var gla = document.getElementById("gla");
                GLA.style.visibility = "visible";
                gla.innerHTML = data;
            });
        });
    });
</script>
<div class="geoliberator"><br>
    <input id="addr" type="text" maxlength=64 size=32 value="123 Example St, NY 01234" />
        <select id="parse" class="btn btn-outline-primary">
            <option value="full">full</option>
            <option value="address" selected>address</option>
            <option value="street">street</option>
            <option value="number">number</option>
			<option value="state">state</option>
			<option value="zipcode">zipcode</option>
        </select>
    <button class="btn btn-outline-primary geolib">Clean!</button>
    <div id="GLA" style="font-size: 25px; font-weight: bold; visibility: hidden;"><br>
    	<p id="gla">123 NORTH EXAMPLE STREET, NEW YORK 01234</p>
    </div>
</div>
                <div class="more-projects">
                    <h3 class="text-center">More Projects</h3>
                    <div class="row gallery">
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image2.jpg') }}"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image3.jpg') }}"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="{{ url_for('static',filename='assets/img/tech/image4.jpg') }}"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"><img class="img-fluid scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image5.jpg') }}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{{ url_for('static',filename='assets/js/theme.js') }}"></script>
</body>

</html>