<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - David Jake Morfe's Portfolio</title>
    <meta name="description" content="Welcome to my Portfolio Website! Learn about me and take a look at all my projects!">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/styles.css') }}">
<!-- Custom Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="icon" href="{{ url_for('static',filename='assets/img/favicon.ico') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item">
                        <div class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="{{ url_for('projects') }}">Projects</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">First Item</a><a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">Second Item</a><a class="dropdown-item" href="{{ url_for('projects', project='MainEdge') }}">Third Item</a></div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page projects-page">
        <section class="portfolio-block projects-with-sidebar">
            <div class="container">
                <div class="heading">
                    <h2>Recent Work</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled sidebar">
                            <li><a class="active" href="#">All</a></li>
                            <li><a href="#">Bootstrap</a></li>
                            <li><a href="#">Clean</a></li>
                            <li><a href="#">Colors</a></li>
                            <li><a href="#">Portfolio</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image1.jpg') }}"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image2.jpg') }}"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image3.jpg') }}"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image4.jpg') }}"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image5.jpg') }}"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image6.jpg') }}"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image7.jpg') }}"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image8.jpg') }}"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="{{ url_for('static',filename='assets/img/nature/image9.jpg') }}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item">
                        <div class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="{{ url_for('projects') }}">Projects</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">First Item</a><a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">Second Item</a><a class="dropdown-item" href="{{ url_for('projects', project='MainEdge') }}">Third Item</a></div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item"><style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>
<div class="nav-item dropdown">
    <a data-toggle="dropdown" aria-expanded="false" class="nav-link dropbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ url_for('projects') }}">Projects <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">First</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">Second</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='MainEdge') }}">Third</a>
    </div>
</div></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item"><style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>
<div class="nav-item dropdown">
    <a class="nav-link dropbtn" aria-haspopup="true" aria-expanded="false" href="{{ url_for('projects') }}">Projects <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">First</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">Second</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='MainEdge') }}">Third</a>
    </div>
</div></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item"><style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    #proj-drop {
        padding-right: 0px;
        margin-right: 0px;
    }
</style>
<div id="proj-drop" class="nav-item dropdown">
    <a class="nav-link dropbtn" aria-haspopup="true" aria-expanded="false" href="{{ url_for('projects') }}">Projects <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">First</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">Second</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='MainEdge') }}">Third</a>
    </div>
</div></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item"><div id="proj-drop" class="nav-item dropdown">
    <a class="nav-link dropbtn" aria-haspopup="true" aria-expanded="false" href="{{ url_for('projects') }}">Projects <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">Gomaps</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">GeoLiberator</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='twos_calc') }}">Twos Calculator</a>
    </div>
</div></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav><style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    #proj-drop {
        padding-right: 0px;
        margin-right: 0px;
    }
</style>
<div id="proj-drop" class="nav-item dropdown">
    <a class="nav-link dropbtn" aria-haspopup="true" aria-expanded="false" href="{{ url_for('projects') }}">Projects <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">Gomaps</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">GeoLiberator</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='twos_calc') }}">Twos Calculator</a>
    </div>
</div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item"><div id="proj-drop" class="nav-item dropdown">
    <a class="nav-link dropbtn" aria-haspopup="true" aria-expanded="false" href="{{ url_for('projects') }}">Projects <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">Gomaps</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">GeoLiberator</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='twos_calc') }}">Twos Calculator</a>
    </div>
</div></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav><div id="proj-drop" class="nav-item dropdown">
    <a class="nav-link dropbtn" aria-haspopup="true" aria-expanded="false" href="{{ url_for('projects') }}">Projects <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">Gomaps</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">GeoLiberator</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='twos_calc') }}">Twos Calculator</a>
    </div>
</div>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item"><div id="proj-drop" class="nav-item dropdown">
    <a class="nav-link dropbtn" aria-haspopup="true" aria-expanded="false" href="{{ url_for('projects') }}">Projects <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">Gomaps</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">GeoLiberator</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='twos_calc') }}">Twos Calculator</a>
    </div>
</div></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand text-white logo" href="#">David Jake Morfe's Portfolio</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-capitalize" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about_me') }}">About me</a></li>
                    <li class="nav-item"><script>
    function goProjects() {
        window.location.href="{{ url_for('projects') }}";
    }
    function dropDown() {
        var dpmu = document.getElementById("dpmu");
        if(dpmu.style.display == "block") {
            dpmu.style.display = "none";
        } else {
            dpmu.style.display = "block";
        }
    }
</script>
<div id="proj-drop" class="btn-group">
    <button id="prjb" class="btn-projects" aria-haspopup="true" type="button" onclick="goProjects()">Projects</button>
    <button id="pdpd" class="btn-projects" aria-expanded="false" type="button" onclick="dropDown()"><i class="fa fa-caret-down"></i></button>
    <div id="dpmu" class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('projects', project='gomaps') }}">Gomaps</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='geoliberator') }}">GeoLiberator</a>
        <a class="dropdown-item" href="{{ url_for('projects', project='twos_calc') }}">Twos Calculator</a>
    </div>
</div>
<script>
    function projectsMediaQuery(x) {
        if (x.matches) { // Mobile
            var btn = document.getElementById("pdpd");
            btn.disabled = false;
            /*var dpmu = document.getElementById("dpmu");
            dpmu.style.display = "none";
            btn.addEventListener("click", function(){
                if(dpmu.style.display == "none") {
                    dpmu.style.display = "block";
                } else {
                    dpmu.style.display = "none";
                }
            });*/
        } else { // Desktop
            var btn = document.getElementById("pdpd");
            var dpmu = document.getElementById("dpmu");
            btn.disabled =  true;
            if(dpmu.style.display == "block") {
                dpmu.style.display = "none";
            }
            dpmu.style.display = "";
        }
    }

    var x = window.matchMedia("(max-width: 576px)")
    projectsMediaQuery(x) // Call listener function at run time
    x.addListener(projectsMediaQuery) // Attach listener function on state changes
</script></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('cv') }}">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{{ url_for('static',filename='assets/js/theme.js') }}"></script>
</body>

</html>